// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0E0E;
$light-gray: #F4F4F4;
$material-bootstrap-primary: #008276;
$material-bootstrap-secondary: #6D767D;