

.fixed-header-add2cart {
  position: fixed;
  top: 0em;
  height: 10vh;
  width: 100%;
  background-color: #009688;
  color: white;
  display: flex;
justify-content: flex-start;
align-items:center;
z-index: 1;
padding: 0em 2em;
 i {
    color: white;
    }
    h3 {
     padding: 0em 1em;
    }
}

.content-add2cart {

margin-top: 10vh;

}

.quantity-add2cart {
padding: 0em 2em;
}

.item-shoppingcard-container {
display: flex;
}
.item-shoppingcard-2 {

    position: absolute;
    top: 10px;
    right: 100px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: black;
    font-size: 15px;
    background: #F4F4F4;
    border: 1px solid #D4D4D4;
    display: flex;
    align-items: center;
    justify-content: center;

}

