.feedback-page.app-page {
    min-height: 100vh;
    height: auto;
    position: relative;
    padding-bottom: 30vh;
    width: 100vw;
}

.ratings-section {
  background-color: #f2f2f2;
  width: 100%;
  padding: 2em;
  border-top: 2px solid black;
}

.container-feedback {
  padding: 1em 2em;
}
.feedback-page {

    .stars-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .feedback-textarea {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: lighten($light-gray, 20%);
    }

    .order-paid-badge {
        // position: absolute;
        // bottom: -1.25rem;
        // right: -2.6rem;
        border-radius: 50%;
        background-color: $material-bootstrap-primary;
        color: white;
        font-weight: bold;
        width: 3rem;
        height: 3rem;
        filter: drop-shadow(0 0.25mm 0.25mm rgba(0, 0, 0, 0.6));
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

    }

    .order-total-gratuity {

        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 0 1rem 2rem 1rem;

        p {
            margin: 0;
        }

        .arrow-icon {
            font-size: 2.5rem;
        }

        .left-cell {
            text-align: right;
            margin-right: 0.75rem;
        }

        .right-cell {
            text-decoration: underline dotted;
            font-weight: bold;
            font-size: 1.4rem;
            margin-right: 0.3rem;
        }
    }

    .order-summary-list {

        padding-top: 1rem;

        position: relative;

        max-height: 20vh;

        margin: 0 4rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &.has-overflow {
            display: block;
        }

        .order-grid {
            overflow: scroll;
            display: grid;
            grid-template-columns: [item] 4fr [price] 1fr [end];
            column-gap: 1.5rem;
            row-gap: 0.8rem;
            grid-auto-rows: 3rem;

            .order-item,
            .order-price {
                align-self: center;
            }

            .order-item {
                grid-column: item / price;
            }

            .order-price {
                grid-column: price / end;

                i {
                    padding-bottom: 1rem;
                }
            }
        }
    }

    .scroll-indicator {
        position: relative;
        top: -3rem;
        height: 3rem;
        // width: 100%;
        display: none;
        margin: 0 4rem -2rem 4rem; // pull up what was beneath

        &.is-visible {
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: transparentize($light-gray, 0.4);
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), transparentize(#d0d0d0, 0.6));
        }
    }
}
