.order-summary .order-container {
    padding: 0 1rem;
}

.order-summary {

    position: relative;
    height: 100vh;
    width: 100vw;



    .order-title {
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #d87e7e);

        h1,
        h2,
        h3 {
            margin-left: 1rem;
        }
    }

    .order-summary-list {

        padding-top: 1rem;

        // position: relative;

        max-height: 70vh;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &.has-overflow {
            display: block;
        }

        .order-grid {
            overflow: scroll;
            display: grid;
            grid-template-columns: [item] 4fr [price] 1fr [action] 1fr [end];
            column-gap: 1.5rem;
            row-gap: 0.8rem;
            grid-auto-rows: 3rem;

            .order-item,
            .order-price,
            .order-action {
                align-self: center;
            }

            .order-item {
                grid-column: item / price;
            }

            .order-price {
                grid-column: price / action;

                i {
                    padding-bottom: 1rem;
                }
            }

            .order-action {
                grid-column: action / end;
            }
        }
    }

    .scroll-indicator {
        position: relative;
        top: -3rem;
        height: 3rem;
        width: 100%;
        display: none;

        &.is-visible {
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: transparentize($light-gray, 0.4);
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), transparentize(#d0d0d0, 0.6));
        }

        /*&.is-visible:before {
            content: '';
            background-image:     
        }*/
    }

    .order-footer {
        position: absolute;
        bottom: 0;
        // width: calc(100% - 2rem);
        width: 100%;
        box-sizing: border-box;
        padding-bottom: 2rem;

        .order-summary-divider {
            margin-bottom: 1rem;
            display: none;

            &.is-visible {
                display: block;
            }
        }

        .order-total {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;

            .order-total-text {
                color: transparentize($gray, 0.6);
                font-weight: normal;
            }

            .order-total-amount {
                font-weight: bold;
                text-decoration: underline dotted;
            }
        }

        .order-buttons {
            display: flex;
            align-items: center;
            justify-content: center;

            :first-child {
                margin-right: 1rem;

                i {
                    margin: 0;
                }
            }
        }
    }
}