



.texttitle {
  margin: 20px 0px;
}

.pay-options {
display: flex;
width: 100%;
justify-content: space-around;

  .btn.btn-primary {
    padding: 0px;
    margin-bottom: 10px;
  }
  .fab {
    font-size: 30px;
  }

  .stripe-button-el {
        background-image: none;
        background-color: inherit;
        padding: inherit;
        box-shadow: inherit;

  }

  .stripe-button-el span {
      color: white;
      background-image: none;
        background-color: #009688;
}

}


.payment-page .payment-split-settings {
    padding-top: 0;
}

// .payment-container {
//   position: relative;
// }
.totalprice {
display: flex;
justify-content: space-around;
color: white;
background-color: #009688;
width: 100%;
}
