<div class="payment-container">

<div class="restaurant-header-2">

            <p>Thanks for visiting: <strong>
            <%= Restaurant %></strong></p>
</div>

<div class="header-image" style="background-image: url('https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');   background-size: cover;">
</div>


<div class="container-feedback">
<h4>Order Summary</h4>
        <div class="order-summary-list">
            <div class="order-grid">
                <% @order.order_items.each do |order_item| %>
                <span class="order-item"><%= "#{order_item.item.name} x#{order_item.quantity}" %></span>
                <% end %>
            </div>
        </div>

</div>


        <div class="ratings-section mt-5 mb-5">
            <h4>How'd we do?</h4>

            <div class="ratings-stars">
                <div class="stars-flex">
                    <button type="button" class="btn btn-primary bmd-btn-icon">
                        <i class="material-icons">grade</i>
                    </button>
                    <button type="button" class="btn btn-primary bmd-btn-icon">
                        <i class="material-icons">grade</i>
                    </button>
                    <button type="button" class="btn btn-primary bmd-btn-icon">
                        <i class="material-icons">grade</i>
                    </button>
                    <button type="button" class="btn btn-primary bmd-btn-icon">
                        <i class="material-icons">grade</i>
                    </button>
                    <button type="button" class="btn btn-primary bmd-btn-icon">
                        <i class="material-icons">grade</i>
                    </button>
                </div>
            </div>

            <div class="bmd-form mt-2 mx-2 text-center">
                <textarea id="feedback-text" class="feedback-textarea form-control" rows="3"
                    placeholder="Write us a note!"></textarea>
                <button type="button" class="mt-1 btn-large btn btn-primary">Submit Feedback</button>
            </div>

        </div>



            <div class="text-center mb-5">
                <p>Did you enjoy your ordering experience?</p>

                <%= link_to 'Place Another Order', homepage_path, class: "text-center btn btn-primary" %>
                <button type="button" class="btn btn-primary btn-raised">Recommend Us</button>
                <!--<button type="button" id="new-order-button" class="text-center btn btn-primary">Place Another Order</button>-->
            </div>
        </div>
    </div>
</div>
    <script>
        // Determines if the passed element is overflowing its bounds,
        // either vertically or horizontally.
        // Will temporarily modify the "overflow" style to detect this
        // if necessary.
        // https://stackoverflow.com/questions/143815/determine-if-an-html-elements-content-overflows
        function checkOverflow(el) {
            var curOverflow = el.style.overflow;

            if (!curOverflow || curOverflow === "visible")
                el.style.overflow = "hidden";

            var isOverflowing = el.clientWidth < el.scrollWidth ||
                el.clientHeight < el.scrollHeight;

            el.style.overflow = curOverflow;

            return isOverflowing;
        }

        document.addEventListener('DOMContentLoaded', (_event) => {
            const list = document.querySelector('.order-summary-list');
            if (checkOverflow(list.querySelector('.order-grid'))) {
                console.log('im visible');
                document.querySelector('.scroll-indicator').classList.toggle('is-visible');
                list.classList.toggle('.has-overflow');
            } else {
                // hr only visible if no overflow (gradient provides boundary when overflow)
                document.querySelector('.order-summary-divider').classList.toggle('is-visible');
            }
        });
    </script>
