<div class="payment-page app-page">

    <div class="page-header">
        <h1>Almost there!</h1>
    </div>

    <div class="container">

        <div class="btn-group payment-method-buttons">
            <button class="btn dropdown-toggle" type="button" id="buttonMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="buttonMenu1">
                <a class="dropdown-item" href="#">Apple Pay</a>
                <a class="dropdown-item" href="#">Credit Card</a>
                <a class="dropdown-item" href="#">PayPal</a>
                <a class="dropdown-item" href="#">Cash</a>
            </div>

            <button type="button" class="btn btn-raised btn-secondary">Split the Bill</button>
        </div>

        <h3>Leave an optional gratuity</h3>
        <div class="gratuity-form">    
            <span class="gratuity-buttons">
                <button type="button" class="btn btn-secondary bmd-btn-fab">
                    <i class="material-icons">remove</i>
                </button>
                <h3 class="gratuity-percentage">10%</h3>
                <button type="button" class="btn btn-primary bmd-btn-fab">
                    <i class="material-icons">add</i>
                </button>
            </span>
            <h3 class="gratuity-total">$<%= @cart_props[:gratuity] %></h3>
        </div>

    </div>

    <div class="page-footer container">
        <hr class="footer-divider">

        <span class="order-total">
            <h2 class="order-total-text">Total</h2>
            <h2 class="order-total-amount">$<%= @cart_props[:total] %></h2>
        </span>

        <span class="order-buttons btn-group-lg">
            <button type="button" class="btn btn-raised btn-secondary">Back</button>
            <button type="button" class="btn btn-raised btn-success">Make Payment</button>
        </span>
    </div>
</div>

<script>
    // Determines if the passed element is overflowing its bounds,
    // either vertically or horizontally.
    // Will temporarily modify the "overflow" style to detect this
    // if necessary.
    // https://stackoverflow.com/questions/143815/determine-if-an-html-elements-content-overflows
    function checkOverflow(el) {
        var curOverflow = el.style.overflow;

        if (!curOverflow || curOverflow === "visible")
            el.style.overflow = "hidden";

        var isOverflowing = el.clientWidth < el.scrollWidth ||
            el.clientHeight < el.scrollHeight;

        el.style.overflow = curOverflow;

        return isOverflowing;
    }

    document.addEventListener('DOMContentLoaded', (_event) => {

    });
</script>