
<div id="payment-page" class="payment-page app-page">

  <div class="header-image" style="background-image: url('<%= cl_image_path @restaurant.image %>');">
</div>
    <div class="page-header">
        <h1>Almost there!</h1>
    </div>
    <div class="container mt-4">
        <h4>Leave an optional gratuity</h4>
        <div class="gratuity-form mb-4">
            <span class="gratuity-buttons">
                <button id="gratuity-decrement" type="button" class="btn btn-secondary bmd-btn-fab">
                    <i class="material-icons">remove</i>
                </button>
                <h3 class="gratuity-percentage">10%</h3>
                <button id="gratuity-increment" type="button" class="btn btn-primary bmd-btn-fab">
                    <i class="material-icons">add</i>
                </button>
            </span>

            <h3 class="gratuity-total">$<!--fillin--></h3>

        </div>
        <h4>Pick a payment method</h4>
        <form class="payment-method-form">
            <label class="rad" data-payment-method="apple_pay">
                <input type="radio" name="rad1" value="apple_pay">
                <i class="fab fa-cc-apple-pay"></i>
            </label>
            <label class="rad" data-payment-method="paypal">
                <input type="radio" name="rad1" value="paypal">
                <i class="fab fa-cc-paypal"></i>
            </label>
            <label class="rad" data-payment-method="credit_card">
                <input type="radio" name="rad1" value="credit_card">
                <i class="fas fa-credit-card"></i>
            </label>
            <label class="rad" data-payment-method="cash">
                <input type="radio" name="rad1" value="cash">
                <i class="fas fa-money-bill-wave"></i>
            </label>
        </form>
        <form class="bmd-form-group payment-split-settings">
            <!-- bmd-collapse-inline pull-xs-right"> -->
            <div id="split-bill-form" class="switch">
                <label>

                    <input id="split-bill-checkbox" type="checkbox" for="search" data-toggle="collapse" data-target="#collapse-search"
                        aria-expanded="false" aria-controls="collapse-search">
                    Split the bill?
                </label>
            </div>
            <span id="collapse-search" class="collapse">
                <input class="form-control" type="text" id="search" placeholder="Copayer's email">
            </span>
        </form>
    </div>
    <div class="page-footer container">
        <hr class="footer-divider">
        <span class="order-total">
            <h2 class="order-total-text">Total</h2>

            <h2 class="order-total-amount">$<!--fillin--></h2>

        </span>
        <span class="order-buttons btn-group-lg">
            <button type="button" class="btn btn-raised btn-secondary">Back</button>
            <button type="button" class="payment-confirm-button btn btn-raised btn-success">Make Payment</button>
        </span>
    </div>
</div>
<script>
// Determines if the passed element is overflowing its bounds,
// either vertically or horizontally.
// Will temporarily modify the "overflow" style to detect this
// if necessary.
// https://stackoverflow.com/questions/143815/determine-if-an-html-elements-content-overflows
function checkOverflow(el) {
    var curOverflow = el.style.overflow;

    if (!curOverflow || curOverflow === "visible")
        el.style.overflow = "hidden";

    var isOverflowing = el.clientWidth < el.scrollWidth ||
        el.clientHeight < el.scrollHeight;

    el.style.overflow = curOverflow;

    return isOverflowing;
}

document.addEventListener('DOMContentLoaded', (_event) => {

});
</script>
