<div class="kitchen-navbar">
    <div class="kitchen-menu">
        <ul>
            <a href="#">
                <li class="Current orders"><%= link_to 'Orders', orders_path %></li>
            </a>
            <a href="#">
                <li class="Current orders"><%= link_to 'Performance', manager_path %></li>
            </a>
            <a href="">
                <li class="Edit menus"><%= link_to 'Edit Menu/Table', manager_path %></li>
            </a>
            <a href="">
                <li class="Settings"><%= link_to 'Performance', manager_path %></li>
            </a>
        </ul>
    </div>
</div>
