<div class="card table-order-card" data-table-id="<%= order.table.id %>">
    <div class="card-header">
        <strong>Order</strong>
    </div>
    <div class="card-body">
        <h5 class="card-title">
			<% order.order_items.each do |orderitem| %>
				<ul>
					<li>
						<%= orderitem.item.name%> x <%= orderitem.quantity %></p>
					</li>
				</ul>
			<% end %>
        </h5>
    </div>
</div>
