<!-- (1) navigate to kitchen_order_show partial
  <%#= render "kitchen_order_show",
 (2) transfer order data
  order: order  %> -->
<div class="card table-order-card" data-table-id="<%= order.table.id %>">
    <div class="card-header">
        <div>
            <strong>Order</strong>
        </div>
        <div>
            <div class="kitchen-serve-buttons">
                <a class="btn btn-warning " href="#"> Delete Order</a>
                <a class="btn btn-success btn-raised" href="">Mark as Served</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <% order.order_items.each do |orderitem| %>
            <ul>
                <li>
                    <%= orderitem.item.name%> x
                    <%= orderitem.quantity %>
                    </p>
                </li>
            </ul>
            <% end %>
        </h5>
    </div>
</div>
