<div class="kitchen-navbar">
    <div class="kitchen-menu">
        <ul>
            <a href="#">
                <li class="Current orders">Current orders</li>
            </a>
            <a href="">
                <li class="Edit menus">Edit menus</li>
            </a>
            <a href="">
                <li class="Edit tables">Edit tables</li>
            </a>
            <a href="">
                <li class="Settings">Settings</li>
            </a>
        </ul>
    </div>
</div>
<!-- Kitchen Content -->
<div class="kitchen-container">
    <div class="kitchen-order-menu-section">
        <br>
        <div class="kitchen-order-list">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <!--  order Tab -->
                <% @tables.each do |table| %>
                <!--  End order Tab -->
                <!--  order Tab -->
                <li class="nav-item">
                    <a class="nav-link" id="order2" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Table <%= table.table_number %></a>
                </li>
                <% end %>
                <!--  End order Tab -->
            </ul>
        </div>
    </div>
    <div class="kitchen-order-actual-section">
        <!--   order Tab content-->
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="order1" role="tabpanel" aria-labelledby="pills-home-tab">
                <!--  content  -->
                <h3>Orders</h3>
                <% Table.last(5).each do |table| %>
                <% table.orders.each do |order| %>
                <br>
                <%= render "kitchen_order_show", order: order  %>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<!-- DELETE / MARK AS SERVED BUTTONS -->
<div class="kitchen-serve-buttons">
    <a class="btn btn-warning " href="#"> Delete Order</a>
    <a class="btn btn-success btn-raised" href="">Mark as Served</a>
</div>
<!-- END OF DELETE / MARK AS SERVED BUTTONS -->
<!--   End order Tab content-->