<!-- Kitchen Content -->
<div class="kitchen-container">
    <div class="kitchen-order-menu-section">
        <div class="kitchen-order-list">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <!--  order Tab -->
                <% @tables.each do |table| %>
                <!--  End order Tab -->
                <!--  order Tab -->
                <li class="nav-item table-list" data-table-id="<%= table.id %>">
                    <a class="nav-link kitchen-table-tab-link" id="order2" href="#pills-home" role="tab">Table <%= table.table_number %></a>
                </li>
                <% end %>
                <!--  End order Tab -->


            </ul>
        </div>
    </div>
    <div class="kitchen-order-actual-section">
        <!--   order Tab content-->
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane active" id="order1">
                <!--  content  -->
                <h3>Orders</h3>
                <% Table.last(5).each do |table| %>
                <% table.orders.each do |order| %>
                <br>
                <%= render "kitchen_order_show", order: order  %>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<!-- DELETE / MARK AS SERVED BUTTONS -->

<div class="kitchen-serve-buttons">
    <a class="btn btn-warning red-delete-kitchen " href="#"> Delete Order</a>
    <a class="btn btn-success btn-raised" href="">Mark as Served</a>
</div>

<!-- END OF DELETE / MARK AS SERVED BUTTONS -->
<!--   End order Tab content-->
