<div class="kitchen-navbar">
    <div class="kitchen-menu">
        <ul>
            <a href="#">
                <li class="Current orders">Current orders</li>
            </a>
            <a href="">
                <li class="Edit menus">Edit menus</li>
            </a>
            <a href="">
                <li class="Edit tables">Edit tables</li>
            </a>
            <a href="">
                <li class="Settings">Settings</li>
            </a>
        </ul>
    </div>
</div>
<!-- Kitchen Content -->
<div class="kitchen-container">
    <div class="kitchen-order-menu-section">
<!--         <p>Tables:</p> -->
<br>
        <div class="kitchen-order-list">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <!--  order Tab -->
                <li class="nav-item">
                    <a class="nav-link active" id="order1" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Table 1</a>
                </li>
                <!--  End order Tab -->
                <!--  order Tab -->
                <li class="nav-item">
                    <a class="nav-link" id="order2" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Table 2</a>
                </li>
                <!--  End order Tab -->
                <!--  order Tab -->
                <li class="nav-item">
                    <a class="nav-link" id="order3" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Table 3</a>
                </li>
                <!--  End order Tab -->
            </ul>
        </div>
    </div>
    <div class="kitchen-order-actual-section">
        <!--   order Tab content-->
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="order1" role="tabpanel" aria-labelledby="pills-home-tab">
                <!--  content  -->
                <h3> Orders</h3>
                <div class="card">
                    <div class="card-header">
                        <strong>Order 1</strong>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Grilled Sea Bream; Grean Bean Salad</h5>
<!--                         <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
 -->                       
                    </div>
                </div>
                <p></p>
                <div class="card">
                    <div class="card-header">
                        <strong>Order 2</strong>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Pizza Hawaii; Beer</h5>
<!--                         <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
 -->                        
                    </div>
                </div>
                <p></p>
                <div class="card">
                    <div class="card-header">
                        <strong>Order 3</strong>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Red Wine; Mushroom Risotto</h5>
<!--                         <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
 -->                        
                    </div>
                </div>



<!-- DELETE / MARK AS SERVED BUTTONS -->
                <div class = "kitchen-serve-buttons">
                    <a class = "red-delete-kitchen" href="#"> Delete Order</a>
                    <a class = "mark-served-kitchen" href="">Mark as Served</a>

                </div>
<!-- END OF DELETE / MARK AS SERVED BUTTONS -->


            </div>
        </div>
        <!--   End order Tab content-->
        <!--   order Tab content-->
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show" id="order2" role="tabpanel" aria-labelledby="pills-home-tab">
                <!--  content  -->
                Drink
            </div>
        </div>
        <!--   End order Tab content-->
        <!--   order Tab content-->
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show" id="order3" role="tabpanel" aria-labelledby="pills-home-tab">
                <!--  content  -->
                dkdlkfkf
            </div>
        </div>
        <!--   End order Tab content-->